
.container {
    background: url("https://swd.bits-goa.ac.in/css/images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);    /*alternate image of body*/
    float: none;
    height: 100px;
    width: 85px;
}
#slides {
    height: 360px;
    width: 720px;
}
#contacts > img {
    margin: 0 90px;
}
#contacts > p:nth-child(3) {
    float: left;
    font-size: 80px;
    text-align: center;
    width: 540px;
}
#members {
    margin: 20px auto;
}
#members tr td {
    background: none repeat scroll 0 0 #eee;
    padding: 5px 40px;
}
#members tr:first-child td {
    background: none repeat scroll 0 0 #222;
    color: white;
    padding: 15px 40px;
}
#contactMe {
    box-shadow: 0 0 4px grey;
    float: left;
    margin: 0 80px;
    padding: 20px;
    transition: all 0.3s ease 0s;
    width: 400px;
}
#contactMe:hover {
    box-shadow: 0 0 8px black;
}
#contactMe a:hover {
    color: #0084af;
}
#contactMe > h1, #contactMe > h2, #contactMe > h3, #contactMe > h4, #contactMe > h5, #contactMe > h6 {
    padding: 0;
}
