
#footer {
    background: none repeat scroll 0 0 black;         /* changed the colot to black from #00979c*/
    bottom: 0;
    box-shadow: 0 0 5px grey;
    box-sizing: padding-box;
    color: white;
    height: 60px;
    padding: 0 70px;
    width: 100%;
    z-index: 10000;
}
#footer a {
    border-left: 0.6px solid green;
    border-right: 0.6px solid green;
    display: block;
    float: left;
    font-size: 22px;
    height: 30px;
    padding: 18px 50px 12px;
    text-align: center;
    transition: all 0.4s ease 0s;
}
#footer a:hover {
    background: none repeat scroll 0 0 green;          /*changed to green from #015a40*/
}
#footer > a > p {
    bottom: 80px;
    display: none;
    position: fixed;
}
#footer > a:hover > p {
    display: block;
}
