
* {
    color: inherit;
    font-family: calibri,arial,serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.unselect {
    -moz-user-select: none;
    cursor: default;
    list-style-type: none;
}
html {
    width: 100%;
}
body {
    background-color: grey;                     /*background color, Changed from #ddd*/
    width: 100%;
}
#hrule {
    clear: both;
    float: none;
    width: 100%;
}
a {
    cursor: pointer;
}
#logo {
    width: 170px;
    height: 140px;
}
#info > p {
    background: none repeat scroll 0 0 white;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 0 0 5px grey;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 25px;
    right: 20px;
    text-align: justify;
    width: 250px;
}
#body {
    height: 100%;
    width: 100%;
}
#content {
    background: none repeat scroll 0 0 white;
    border-radius: 3px;
    margin: 20px auto;
    padding: 5px 15px;
    width: 1200px;
}
h1 {
    font-size: 50px;
    padding: 5px 30px;
}
h2 {
    font-size: 40px;
    padding: 5px 30px;
}
h3 {
    font-size: 30px;
    padding: 5px 30px;
}
h4 {
    font-size: 25px;
    font-weight: 300;
    padding: 5px 30px;
    text-align: justify;
}
h5 {
    font-size: 20px;
    padding: 5px 30px;
    text-align: justify;
}
h6 {
    font-size: 10px;
    padding: 5px 30px;
    text-align: justify;
}
